.slider {
  height: 40px;
  border: 2px solid var(--red);
  border-radius: 20px;
}

.thumb {
  background-color: var(--red);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.green {
  border: 2px solid var(--green);
}

.green .thumb {
  background-color: var(--green);
}
